.header {
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 12px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
    &__container {
        display: flex;
        align-items: center;
    }

    &__links {
        margin-left: auto;
        display: flex;
    }

    &__link {
        margin: 15px;
    }

    &__btn {
        display: none;
        border: none;
        width: 24px;
        height: 13px;
        background: none;
        margin-left: auto;
        background-image: url("../img/menu-open.png");
    }
}

.navbar {
    display: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    &__item {
        padding: 12px;
    }

    &__link {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
    }
    &__btn {
        display: flex;
        justify-content: end;
        margin-left: auto;
        padding: 25px;
        border: none;
        background: none;
    }
}

@include breakpoint-down(400px) {
    .header {
        &__btn {
            display: block;
        }
    }

    .navbar {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        right: 0;
        top: 0;
    }

    .menu-open {
        display: block;
    }
}
